{% extends 'base.html' %}
{% block title %}
    <a class="navbar-brand" href="#"> 用户垃圾投放记录 </a>
{% endblock %}
{% block write %}
    <li>
    <a  method="post" href="{{ url_for('disposal_trash') }}" class="btn btn-simple btn-danger btn-icon remove">
        投放垃圾
    </a>
    </li>
{% endblock %}
{% block content %}
{# 使用 length 过滤器获取 staffs 变量的长度 #}

    <div class="content">
        {% if trashs == [] %}
            <h4 class="title">暂无用户垃圾投放记录</h4>
        {% else %}
            <h4 class="title">用户垃圾投放记录</h4>
        {% endif %}
            <div class="material-datatables">
                <table id="datatables" class="table table-striped table-no-bordered table-hover"
                       style="width:100%;cellspacing:0">
                    <thead>
                    <tr>
                        <th>用户名</th>
                        <th>社区</th>
                        <th>可回收数量</th>
                        <th>不可回收数量</th>
                        <th>有害垃圾数量</th>
                        <th>厨余垃圾数量</th>
                        <th>时间</th>
                    </tr>
                    </thead>

                    <tbody>

                    {% for trash in trashs %}
                            <tr>
                                <td>{{ trash.username }}</td>
                                <td>{{ trash.community }}</td>
                                <td>{{ trash.recyclable_trash }}</td>
                                <td>{{ trash.non_recyclable_trash }}</td>
                                <td>{{ trash.hazardous_trash }}</td>
                                <td>{{ trash.kitchen_trash }}</td>
                                <td>{{ trash.time }}</td>
                            </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div>
                    <ul style="text-align: center;">
                        {% if paginate.has_prev %}
                            <li style="display: inline-block;"><a href="/Trash_disposal/{{ paginate.prev_num }}">上一页</a></li>
                        {% endif %}
                        {% for i in paginate.iter_pages() %}
                            {% if i == None %}
                                <li style="display: inline-block;"><a >...</a></li>
                            {% else %}
                                <li style="display: inline-block;"><a href="/Trash_disposal/{{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if paginate.has_next %}
                            <li style="display: inline-block;"><a href="/Trash_disposal/{{ paginate.next_num }}">下一页</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
    </div>
{% endblock %}